/*for the special animal*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/bg1.jpg);
    background-size: cover;
    height: 100vh;
    overflow-x: hidden !important;
}
.container1{
    height: 100vh;
    padding-left: none;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.navbar a:hover{
    color: rgb(206, 180, 180);
}
.logo{
   width: 90px;
   height: 90px;
   cursor: pointer;
   opacity: 0.9; 
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 13px;
}
/*footer tag*/
.info{
    background-image: url(../images/black.jpg);
    background-size: 100% ;
    width: 1550px;
    margin: auto;
    padding: 0px 0px 10px 0px; 
    background-repeat: no-repeat;
}
.info h1{
    color: rgb(206, 180, 180);
    text-align: center;
}
.info h2{
    text-align: center;
}
.info h3{
    color: rgb(206, 180, 180);
    text-align: center;
}
.info h4{
    text-align: center;
    color: white;
}
.info a:visited{
    color: rgb(206, 180, 180);
}
.info a:hover{
    background-color: white;
}
.mainimg{
    display: block;
    margin-left: 50px;
    margin-right: 50px;
    width: 1300px;
    height: 600px;
    max-width: 100%;
    transform: translateX(50px);
    border: 3px solid white;
}
.H1{
    color: rgb(204, 83, 83);
    text-align: center;
    font-size: 50px;
}
.flex-container{
    display: flexbox;
    background-color: rgb(204, 83, 83);
    justify-content: center;
    color: black;
    margin-left: 20px;
}
  
.flex-container > div {
    background-color: rgb(206, 180, 180);
    margin: 10px;
    padding: 20px;
    font-size: 20px;
}
